*{
    margin:0;
    padding: 0;
}

.nav{
    background: rgb(30,30,30);
    padding: 0.5rem;
}
.nav h3{
    color: white;
    font-weight: 100;
}

.nav_second_row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input input{
    height: 2.5rem;
    width: 100%;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}
.nav_second_row input::placeholder{
    font-size: 1.5rem;
    padding: 0.2rem;
}

.input{
    width: 80%;
    background: white;
    display: flex;
    margin: auto;
    justify-content: space-around;
    border-radius: 0.5rem;
    align-items: center;
    
}
.largeIcon{
    color:rgb(255,204,126);
   
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 10%;
}
